 {% load static %}
<!-- Content(içerik) başlangıç -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Üniversitemize  <span>Hoşgeldiniz</span></h1>
						<h4>Sevgili Öğrenciler</h4>
						<p>Öğrenci Seçme Sınavı’nda göstermiş olduğunuz üstün başarıdan dolayı Özel Konular Üniversitesi adına Sizi ve ailenizi candan kutluyorum.Önümüzdeki günlerde yapacağınız Üniversite tercihinizin geleceğinizi belirlemede önemli olduğu kuşkusuzdur.Yeni bilgilere açık, insanın ve toplumun gelişme dinamiklerini oluşturacak nitelikte kendini geliştirebilen, sorgulayan ve geleceği için seçim yapabilen Sizi, Türkiye Cumhuriyeti’nin ilk üniversitesi olan ve 61 yıllık geçmişe sahip Özel Konular Üniversitesi’nde görmekten büyük mutluluk duyacağız.</p>
						<p>Avrupa’nın saygın kurumlarından biri olan Avrupa Üniversite Birliği (AÜB/EUA)’nin kurumsal değerlendirme raporunda da belirtildiği gibi, Özel Konular Üniversitesi eğitim-öğretim, araştırma ve yayınları ile kalite kültürü anlayışı yüksek bilimsel nitelikleri bünyesinde barındıran Türk Yükseköğretim sistemi için örnek gösterilen önemli bir Dünya Üniversitesi olma yolunda hızla ilerlemektedir.</p>

					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="{% static 'images/about-img.jpg'%}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!--  Content(içerik) bitiş -->



