         {% load static %}
        <!-- Content(içerik) başlangıç -->


    <div class="blog-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-title text-left">
                                <h2>Haberler</h2>
                                <a href="/TumHaber/" style="float: right ;color: black;">░▒▓█ 𝑻𝒖̈𝒎𝒖̈ █▓▒░</a>
                                <hr style="size: 4px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        {% for rs in anahaber %}

                        <div class="col-lg-3 col-md-6 col-12">

                                <div style="width: 200px;height: 280px;" class="blog-box-inner">
                                <div class="blog-img-box">
                                    <img style="width: 200px;height: 300px;" class="img-fluid" src="{% static 'images/arka-flu.jpg'%}" alt="">
                                </div>
                                <a href="/duyuru/{{ rs.id }}/{{ rs.slug }}">
                                    <div class="blog-detail">
                                    <img style="height: 100px;width: 150px; margin-left: auto;margin-right: auto;margin-top: 0;" src="{{ rs.image.url }}" >
                                    <ul>

                                        <li>|</li>
                                        <li style="font-size: 8pt;"><span>{{ rs.create_at }}</span></li>
                                    </ul>
                                    <p style="color: black"><b> {{ rs.title }}</b> </p>


                                </div></a>
                            </div>

                        </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
            <!--  Content(içerik) bitiş -->

         {% load static %}
                    <!-- Sidebar(kategori) başlangıç -->


                            <div id="Anadiv">

                                <div style="float: left;" class="container-fluid col-md-4 ">


                                             <div class="col-md-12 heading text-center"><h2 style="background-color: #ee7942; color: white;"><b>Duyurular</b></h2></div>
                                            <a href="/TumDuyuru/" style="float: right ;color: #ee7942;">░▒▓█ 𝑻𝒖̈𝒎𝒖̈ █▓▒░</a>
                                              <hr>
                                    {% for rs in anaduyuru %}
                                            <div style="margin-left: 10px; margin-right: auto;" class="col-md-10 ">
                                                <div  class="gallery-single fix">
                                                <a class="fh5co-card" href="/duyuru/{{ rs.id }}/{{ rs.slug }}">

                                                    <div class="fh5co-card-body text-center">
                                                        <h5 style="margin: auto">{{ rs.title }}</h5>

                                                    </div>
                                                </a>
                                                </div>

                                            </div>
        {% endfor %}


                                    </div>

                                <div style="float: left;" class="container-fluid col-md-4">



                                            <div class="col-md-12 heading text-center"><h2 style="background-color: #cd6839; color: white;"><b>Etkinlikler</b></h2></div>
                                            <a href="/TumEtkinlik/" style="float: right ;color: #cd6839;">░▒▓█ 𝑻𝒖̈𝒎𝒖̈ █▓▒░</a>
                                            <hr>
                                    {% for rs in anaetkinlik %}
                                            <div style="margin-left: 10px; margin-right: auto;" class="col-md-10 ">
                                                <div  class="gallery-single fix">
                                                <a class="fh5co-card" href="/duyuru/{{ rs.id }}/{{ rs.slug }}">

                                                    <div class="fh5co-card-body text-center">
                                                        <h5 style="margin: auto">{{ rs.title }}</h5>

                                                    </div>
                                                </a>
                                                </div>
                                            </div>
                                    {% endfor %}



                                </div>
                                 <div style="float: left;" class="container-fluid col-md-4">



                                            <div class="col-md-12 heading text-center"><h2 style="background-color: #8b4726; color: white;"><b>Uluslararası Öğrenciler</b></h2></div>
                                            <a href="/TumUlusal/" style="float: right ;color: #8b4726;">░▒▓█ 𝑻𝒖̈𝒎𝒖̈ █▓▒░</a>
                                            <hr>
                                     {% for rs in anaulusal %}
                                            <div style="margin-left: 10px; margin-right: auto;" class="col-md-10 ">
                                                <div  class="gallery-single fix">
                                                <a class="fh5co-card" href="/duyuru/{{ rs.id }}/{{ rs.slug }}">

                                                    <div class="fh5co-card-body text-center">
                                                        <h5 style="margin: auto">{{ rs.title }}</h5>

                                                    </div>
                                                </a>
                                                </div>
                                            </div>
                                     {% endfor %}





                                </div>
                            </div>

                    <hr>



                        <!-- End Menu -->



