 {% load static %}
 <!-- Start Gallery -->
<br><br>
	<div style="margin-top: 40px;" class="gallery-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

				</div>
			</div>
			<div class="tz-gallery">

			</div>
		</div>
	</div>
	<!-- End Gallery -->

 <!-- Start Contact info -->
 <div style="margin-top: 40px;" >

	<!-- End Contact info -->

 <!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>OZEL KONULAR UNIVERSITY</h3>
					<p><img style="margin-left: 50px" width="150" height="150"  src="{% static 'images/c.png'%}"> </p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Bize Katıl</h3>
					<div class="subscribe_form">
						<form class="subscribe_form">

							<a style="margin-bottom: 10px;" class="btn btn-lg btn-circle btn-outline-new-white" href="/newaccount/">ÜYE OL</a>
							<div class="clearfix"></div>
						</form>
					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>İletisim Bilgisi</h3>
					<p class="lead">800, Han Caddesi, İstanbul</p>
					<p class="lead"><a href="#">444 55 66</a></p>
					<p><a href="#"> info@OKUniversity.com</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Opening hours</h3>
					<p><span class="text-color">Monday: </span>Closed</p>
					<p><span class="text-color">Tue-Wed :</span> 9:Am - 10PM</p>
					<p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2020 <a href="#">Ozel Konular University</a> Design By : ALİ ÇEVİK
					</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
     </div>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

	<!-- ALL JS FILES -->

	<script src="{%  static 'js/popper.min.js'%}"></script>
	<script src="{%  static 'js/bootstrap.min.js'%}"></script>
    <!-- ALL PLUGINS -->
	<script src="{%  static 'js/jquery.superslides.min.js'%}"></script>
	<script src="{%  static 'js/images-loded.min.js'%}"></script>
	<script src="{%  static 'js/isotope.min.js'%}"></script>
	<script src="{%  static 'js/baguetteBox.min.js'%}"></script>
	<script src="{%  static 'js/form-validator.min.js'%}"></script>
    <script src="{%  static 'js/contact-form-script.js'%}"></script>
    <script src="{%  static 'js/custom.js'%}"></script>