    {% extends "homebase.html" %}

    {% block title %} {{ duyuru.title }} {% endblock %}
    {% block keywords %} {{ duyuru.keywords }} {% endblock %}
    {% block description %} {{ duyuru.description }} {% endblock %}
    {% load static %}
    {% block head %}

    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}' />

    {% endblock %}


    {% block content %}

        <!-- Start All Pages -->
        <div style="height: 20px;" class="all-page-title page-breadcrumb">
            <div class="container ">
                <div class="row">
                    <div  class="col-lg-12">
                        <a href="/category/{{ duyuru.category_id }}/{{ duyuru.category.slug }}"> <h4  style="color: white">{{ duyuru.category }}/</h4></a>
                        <h4 style="color: white">{{ duyuru.title }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- End All Pages -->
    {% load static %}
        <!-- Start Detail -->
        <div class="blog-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div style="background-color: #dcdcdc;" class="heading-title ">

                            <h1>{{duyuru.title}}</h1>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-12"></div>
                    <div class="col-xl-8 col-lg-8 col-12">
                        <div class="blog-inner-details-page">
                            <div class="blog-inner-box">
                                <div class="side-blog-img">
                                    <img class="img-fluid" src="{{ duyuru.image.url }}" alt="">
                                    <div class="date-blog-up">
                                        {{ duyuru.create_at }}
                                    </div>
                                </div>
                                <div class="inner-blog-detail details-page">

                                    <blockquote>
                                        <p>{{duyuru.detail|safe}}</p>
                                    </blockquote>

                                </div>
                            </div>

                            <div class="tz-gallery">
                            <h3>{{duyuru.title}} galeri</h3>
                    <hr>
                    <div class="row">

                        {% for rs in images %}

                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <a class="lightbox" href="{{ rs.image.url }}">
                                <img style="width: 200px;height: 200px;" class="img-fluid" src="{{ rs.image.url }}" alt="Gallery Images">
                            </a>
                        </div>

                          {% endfor %}




                    </div>
                </div>

                            <div class="blog-comment-box">
                                <h3>Comments</h3>

                                {% for rs in comments %}
                                <div class="comment-item">
                                    <div class="comment-item-left">
                                        <img src="{% static 'images/avt-img.png'%}" alt="">
                                    </div>
                                    <div class="comment-item-right">
                                        <div class="pull-left">
                                            <a href="#">{{rs.user.first_name}} {{ rs.user.last_name }}</a>
                                        </div>
                                        <div class="pull-right">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>Time : <span>{{ rs.create_at }}</span>
                                        </div>
                                        <div class="des-l">
                                            <p>{{rs.comment}}</p>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}


                            </div>
                            <div class="comment-respond-box">
                                <h3>Leave your comment </h3>
                                <div class="comment-respond-form">
                                    <form class="comment-form-respond row" action="/duyuru/addcomment/{{ duyuru.id }}" id="commentrespondform"   method="post">
                                        {% csrf_token %}
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="subject" id="id_subject"  placeholder="Subject" />
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="comment" id="id_comment" placeholder="Your review" rows="2"></textarea>
                                            </div>
                                        </div>
                                        {% if user.id is not None %}
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <button class="btn btn-submit">Submit comment</button>
                                        </div>
                                        {% else %}
                                            Yorum Eklemek için login olunuz !!
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- End Detail -->

    {% endblock %}





