             {% load static %}
            <!-- Sidebar(kategori) başlangıç -->



<script>

  $(function() {
    $("#query").autocomplete({
      source: "/search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>


             <div style="height: 80px;" class="col-lg-12">
        <div class="row">
            <div class="col-lg-4"></div>

            <div style="margin-top: 20px;" class=" col-lg-4">
                <h1 style="font-weight: bold" class="text-center">Arama Kutusu</h1>
                <form action="/search/" method="post">
                    {% csrf_token %}
                    <div style="border: white;" class="blog-search-form">
                    <input id="query" name="query"  placeholder="Search " type="text">
                        <button class="search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>

            <div  class="col-lg-4">



            </div>
        </div>
    </div>

                <!-- End Menu -->