 {% load static %}
<!-- Slider Başlangıç -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">

            {% for rs in sliderData %}

                <li class="text-left">
				<img src="{{ rs.image.url }}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
                            <h1> {{ rs.title }} </h1>
							
                            <a href="/duyuru/{{ rs.id }}/{{ rs.slug }}" class="btn btn-lg btn-circle btn-outline-new-white" >Detaylar</a>
						</div>
					</div>
				</div>
			</li>
            {% endfor %}

		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- Slider Bitiş -->