{% extends "homebase.html" %}

{% block title %} My Comments {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% load static %}
{% block head %}

<link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}' />

{% endblock %}


{% block content %}

    <!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>İçeriklerim</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End header -->
{% load static %}
	<!-- Start About -->

    <style>

                        #personel{
                        width: 100%;
                        font: bold 1.25em "Trebuchet MS", Verdana, Arial, Helvetica,
                        sans-serif;
                        border: 15px solid #505050;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        text-align: left;
                        padding: 6px 6px 6px 12px;
                        background: #C1DAD7;
                        border-collapse: collapse;
                        }

                        #personel th{
                            text-align: left;
                            font-size: 12pt;
                            color: #ee7942;
                            padding: 3px 3px 3px 6px;

                        }

                        #personel td{

                        text-align: left;
                        font-size: 10pt;
                        padding: 6px 6px 6px 12px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;
                        }
                        #personel tr{
                        text-align: left;
                        color: #112233;
                        background: #fff;
                        }
                        #personel tr:hover{
                        text-align: left;
                        background:#cd6839;
                        color:#fff;
                        }
                        </style>

	<div class="about-section-box">

            <div class="container">
                <div class="row">
                    <div class="col-md-2">

                        {% include "user_panel.html" %}

                    </div>



                    <div class="col-md-10">
                        <div class="title">
                            <h3 style="font-weight: bold">USER Contents List</h3>
                            <hr style="border-color: #ee7942;border-width: 4px;">
                        </div>
                    <a style="padding: 3px;" class="btn btn-lg btn-circle btn-outline-new-white" href="/user/addcontent">+Add Content</a><br>


                        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300" rel="stylesheet">

                    {% if messages %}
                                 {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                    </div>
                                 {% endfor %}
                            {% endif %}

                        <table style="margin-top: 10px" id="personel">

                            <tr style="background-color: white">
                                <th class="text-center"> Image </th>
                                <th class="text-center"> Title </th>
                                <th class="text-center"> Type </th>
                                <th class="text-center"> Gallery</th>
                                <th class="text-center"> Status </th>
                                <th class="text-center"> Date </th>
                                <th class="text-center"> Update </th>
                                <th class="text-center"> Action </th>
                            </tr>

                            {% for rs in duyurus %}

                            <tr>

                                <td style="font-size: 9pt;font-weight: bold;" class="text-center"><img src="{{ rs.image.url }}" style="height: 30px"></td>
                                <td style="font-size: 9pt;font-weight: bold;" class="text-center"><a href="/duyuru/{{ rs.id }}/{{ rs.slug }}"> {{ rs.title }}</a></td>
                                <td style="font-size: 9pt;font-weight: bold;" class="text-center">{{ rs.type }}</td>
                                <td style="font-size: 4pt;font-weight: bold;" class="text-center">
                                    <a href="javascript:;" onclick="window.open('/user/contentaddimage/{{ rs.id }}', 'gallery' , 'height=600', 'width=800','top=50','left=150')"  >
                                       <img width="40" height="30" src="{% static 'images/gallery-icon.png'%}">
                                    </a>
                                </td>
                                <td style="font-size: 9pt;font-weight: bold;" class="text-center">{{ rs.status}}</td>
                                <td style="font-size: 9pt;font-weight: bold;" class="text-center">{{ rs.create_at}}</td>
                                <td style="font-size: 9pt;font-weight: bold;" class="text-center">
                                    <a style="padding: 3px;" class="btn btn-lg btn-circle btn-outline-new-white" href="/user/contentedit/{{ rs.id }}" > Edit </a>
                                </td>
                                <td style="font-size: 9pt;font-weight: bold;" class="text-center">
                                    <a style="padding: 3px;" class="btn btn-lg btn-circle btn-outline-new-white" href="/user/contentdelete/{{ rs.id }}" onclick="return confirm('Silmek istediğinize Emin Misiniz?')"> Delete </a>
                                </td>
                            </tr>

                            {% endfor %}

                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- End About -->

        {% endblock %}

