<!-- User Panel Başlangıç -->
    <h3 style="font-weight: bold" class="text-center">Categories</h3>
    <hr style="border-color: #ee7942;border-width: 4px;">
    <div class="blog-categories text-center">
        <ul>
            <li><a href="/user"><span>User Profile</span></a></li>
            <li><a href="#"><span>Haberlerim</span></a></li>
            <li><a href="#"><span>Duyurularım</span></a></li>
            <li><a href="#"><span>Etkinliklerim</span></a></li>
            <li><a href="#"><span>Yorumlarım</span></a></li>
            <li><a href="/logout"><span>Logout</span></a></li>
        </ul>
    </div>
<!-- User Panel Bitiş -->